@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: lightcyan;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lexend Zetta', sans-serif;
}

#menu a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
    font-family: Arial, Helvetica, sans-serif;
    transition: color 0.3s;
    margin-right: 20px;
    text-align: left;
}

#menu a:hover {
    color: black;
    border-style: groove;
    border-color: lightcyan;
    background-color: #add8e6;
}

title {
    font-size: 36px;
    color: black;
    background-color: #add8e6;
    text-align: center;
}

.video-container {
    max-width: 100%; /* Make the video container responsive */
    height: auto; /* Maintain the aspect ratio */
    margin: 0 auto;
}

video {
    max-width: 100%; /* Make the video responsive */
    height: auto; /* Maintain the aspect ratio */
}

h2 {
    display: block;
    font-size: 24px;
    text-align: center;
    background: fixed;
    background-color: #add8e6;
}

p {
    font-size: 12px;
    text-align: center;
    text-decoration: wavy;
    padding: 0%;
}

h3 {
    background-color: #add8e6;
    text-align: center;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    body {
        height: auto; /* Adjust the body's height for smaller screens */
    }

    video {
        width: 100%; /* Make the video fill the screen width */
        height: auto; /* Maintain the aspect ratio */
    }
}
